.contenedor-tarjeta-detalles{
    margin-top: 90px;
    min-height: 90vh;
    margin-bottom: 10px;
}
.tarjeta-detalles{
    background-color: blueviolet;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: solid;
    justify-self: center;
    text-align: justify;
    .img-tarjeta-producto{
        width: 60%;
    }
}
.botones-contenedor-detalle{
    display: flex;
    flex-direction: row;
    padding: 5px;
}