.footer-container{
    background-color: #AAD5BB;
    min-height: 10vh;
    color: aliceblue;
    font-size: 10px;

}
.footer-ul{
    font-size: large;
    padding: 10px;
}

/* Hacer que el footer se quede abajo */