.footer-container{
    background-color: black;
    height: 10vh;
    color: aliceblue;
    font-size: 10px;

}
.footer-ul{
    font-size: 11px;
    background-color: aqua;
    padding: 10px;
}

/* Hacer que el footer se quede abajo */