.header{
    background-color: black;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.header-img-container{
    width: 100px;
    background-color: aliceblue;
    overflow: hidden;
    align-self: center;
    margin-left: 10px;
    .header-logo{
        width: 100%;
        color: aliceblue;
    }
}
.header-carrito-container{
    background-color: aliceblue;
    align-self: center;
    margin-right: 10px;
    .header-carrito{
        width: 25px;
    }
}

@media (min-width: 480px){
    .header-img-container{
        width: 300px;
        margin-left: 60px;
    }
    .header-carrito-container {
        margin-right: 60px
}
.header-carrito {
    width: 80px;
}
}