.menu-logo-container{
    margin-top: 110px;
    margin-left: 20px;
}

@media (min-width: 768px){
    .menu-logo-container{
        margin-left: 40px;
    }
    .menu-logo-img{
        width: 50px;
    }
}